<% @subtitle = "for <em>#{h(params[:query])}</em>" %>

<% @title = "search" %>
<% unless @match.blank? %>
  <p class="entries">Exact Match</p>
  <div class="gems border">
    <ol>
      <%= render @match %>
    </ol>
  </div>
<% end %>

<% if @gems %>  
  <p class="entries">
    <%= page_entries_info @gems, :entry_name => 'gem' %>
  </p>
  <% if @gems.present? %>
    <div class="gems border">
      <ol>
        <%= render @gems %>
      </ol>
    </div>
    <%= will_paginate @gems %>
  <% end %>
<% end %>
